<body class="gradiente">
  <div class="py-2 text-center">  
    <%= form_with(model: cliente, local: true) do |form| %>
      <% if cliente.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

          <ul>
            <% cliente.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :nombre %>
        <%= form.text_field :nombre %>
      </div>

      <div class="field">
        <%= form.label :telefono %>
        <%= form.number_field :telefono %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>

      <div class="field">
        <%= form.label :fecha_cumpleaños %>
        <%= form.datetime_select :fecha_cumpleaños %>
      </div>

      <div class="actions">
        <%= form.submit "guardar", class:"estilo-boton-form" %>
      </div>
    <% end %>
  </div>
</body>