<body class="gradiente">
  <div class="container text-center ">

    <h1 class="py-2">Clientes</h1>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Email</th>
          <th>Fecha cumpleaños</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @clientes.each do |cliente| %>
          <tr>
            <td><%= cliente.nombre %></td>
            <td><%= cliente.telefono %></td>
            <td><%= cliente.email %></td>
            <td><%= cliente.fecha_cumpleaños %></td>
            <td><%= link_to 'Ver', cliente, class:"links" %></td>
            <td><%= link_to 'Editar', edit_cliente_path(cliente), class:"links" %></td>
            <td><%= link_to 'Borrar', cliente, method: :delete, data: { confirm: '¿Estas seguro?' },class:"links" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo Cliente', new_cliente_path, class:"links" %>
  </div>
</body>