<body class="gradiente">
  <div class="container py-2 border-margin-vista">
    <p>
      <strong>Nombre:</strong>
      <%= @cliente.nombre %>
    </p>

    <p>
      <strong>Telefono:</strong>
      <%= @cliente.telefono %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @cliente.email %>
    </p>

    <p>
      <strong>Fecha cumpleaños:</strong>
      <%= @cliente.fecha_cumpleaños %>
    </p>

    <%= link_to 'Editar', edit_cliente_path(@cliente), class:"links" %> |
    <%= link_to 'Atras', clientes_path, class:"links" %>
  </div>

<body>
