<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @proveedore.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @proveedore.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @proveedore.email %>
</p>

<p>
  <strong>Nombre empresa:</strong>
  <%= @proveedore.nombre_empresa %>
</p>

<p>
  <strong>Tipo proveedor:</strong>
  <%= @proveedore.tipo_proveedor %>
</p>

<%= link_to 'Edit', edit_proveedore_path(@proveedore) %> |
<%= link_to 'Back', proveedores_path %>
