<body class="gradiente">
  <div class="py-2 text-center">
    <%= form_with(model: categorium, local: true) do |form| %>
      <% if categorium.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(categorium.errors.count, "error") %> prohibited this categorium from being saved:</h2>

          <ul>
            <% categorium.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :nombre %>
        <%= form.text_field :nombre %>
      </div>

      <div class="field">
        <%= form.label :fecha %>
        <%= form.datetime_select :fecha %>
      </div>

      <div class="actions">
        <%= form.submit "guardar", class:"estilo-boton-form" %>
      </div>
    <% end %>
  </div>
</body>
