<h1 class="text-center py-3">Editar Categoria</h1>

<%= render 'form', categorium: @categorium %>

<%= link_to 'Ver', @categorium, class:"links" %> 
<%= link_to 'Atras', categoria_path, class:"links" %>
