<body class="gradiente">
  <div class= "container text-center py-2">
    <h1 class="py-3">Categoria</h1>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @categoria.each do |categorium| %>
          <tr>
            <td><%= categorium.nombre %></td>
            <td><%= categorium.fecha %></td>
            <td><%= link_to 'Ver', categorium, class:"links" %></td>
            <td><%= link_to 'Editar', edit_categorium_path(categorium), class:"links" %></td>
            <td><%= link_to 'Borrar', categorium, method: :delete, data: { confirm: '¿Estas seguro?' }, class:"links" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo Registro', new_categorium_path, class:"links" %>
  </div>  
</body>