<body class="gradiente">
  <div class="container py-2 border-margin-vista">
    <p>
      <strong>Nombre:</strong>
      <%= @categorium.nombre %>
    </p>

    <p>
      <strong>Fecha:</strong>
      <%= @categorium.fecha %>
    </p>

    <%= link_to 'Editar', edit_categorium_path(@categorium), class:"links" %> 
    <%= link_to 'Atras', categoria_path, class:"links" %>
  </div>

</body>