<body class="gradiente">
  <div class="py-2 text-center">    
    <%= form_with(model: empleado, local: true) do |form| %>
      <% if empleado.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(empleado.errors.count, "error") %> prohibited this empleado from being saved:</h2>

          <ul>
            <% empleado.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :nombre %>
        <%= form.text_field :nombre %>
      </div>

      <div class="field">
        <%= form.label :telefono %>
        <%= form.number_field :telefono %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>

      <div class="field">
        <%= form.label :fecha_cumpleanos %>
        <%= form.datetime_select :fecha_cumpleanos %>
      </div>

      <div class="field">
        <%= form.label :fecha_ingreso %>
        <%= form.datetime_select :fecha_ingreso %>
      </div>

      <div class="actions">
        <%= form.submit"Guardar", class:"estilo-boton-form" %>
      </div>
    <% end %>
  </div>
</body>