<body class="gradiente">
  <div class="container text-center">
    <h1 class="py-3">Empleados</h1>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Email</th>
          <th>Fecha cumpleanos</th>
          <th>Fecha ingreso</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @empleados.each do |empleado| %>
          <tr>
            <td><%= empleado.nombre %></td>
            <td><%= empleado.telefono %></td>
            <td><%= empleado.email %></td>
            <td><%= empleado.fecha_cumpleanos %></td>
            <td><%= empleado.fecha_ingreso %></td>
            <td><%= link_to 'Ver', empleado,class:"links" %></td>
            <td><%= link_to 'Editar', edit_empleado_path(empleado), class:"links" %></td>
            <td><%= link_to 'Borrar', empleado, method: :delete, data: { confirm: '¿Esta seguro?' }, class:"links" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo Empleado', new_empleado_path, class:"links" %>
  </div>
</body>