<body class="gradiente">
  <div class="container py-2 border-margin-vista">
    <p>
      <strong>Nombre:</strong>
      <%= @empleado.nombre %>
    </p>

    <p>
      <strong>Telefono:</strong>
      <%= @empleado.telefono %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @empleado.email %>
    </p>

    <p>
      <strong>Fecha cumpleanos:</strong>
      <%= @empleado.fecha_cumpleanos %>
    </p>

    <p>
      <strong>Fecha ingreso:</strong>
      <%= @empleado.fecha_ingreso %>
    </p>

    <%= link_to 'Editar', edit_empleado_path(@empleado),class:"links"  %> 
    <%= link_to 'Atras', empleados_path, class:"links" %>
  </div>
</body>
