<body class="gradiente">
  <div class="py-2 text-center">
    <%= form_with(model: caja_registradora, local: true) do |form| %>
      <% if caja_registradora.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(caja_registradora.errors.count, "error") %> prohibited this caja_registradora from being saved:</h2>

          <ul>
            <% caja_registradora.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :tipo %>
        <%= form.text_field :tipo %>
      </div>

      <div class="field">
        <%= form.label :entrada %>
        <%= form.text_field :entrada %>
      </div>

      <div class="field">
        <%= form.label :salida %>
        <%= form.text_field :salida %>
      </div>

      <div class="field">
        <%= form.label :descripcion %>
        <%= form.text_field :descripcion %>
      </div>

      <div class="field">
        <%= form.label :fecha %>
        <%= form.datetime_select :fecha %>
      </div>

      <div class="actions">
        <%= form.submit "Guardar", class:"estilo-boton-form" %>
      </div>
    <% end %>
  </div>
</body>
