<h1 class="text-center py-2">Editando Caja Registradora</h1>

<%= render 'form', caja_registradora: @caja_registradora %>

<%= link_to 'Ver', @caja_registradora, class:"links" %> 
<%= link_to 'Atras', caja_registradoras_path, class:"links" %>
