
<body class="gradiente text-center">
  <h1 class="text-center py-2">Caja Registradora</h1>
  <div class="container text-center py-2">
    <table>
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Descripcion</th>
          <th>Fecha</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @caja_registradoras.each do |caja_registradora| %>
          <tr>
            <td><%= caja_registradora.tipo %></td>
            <td><%= caja_registradora.entrada %></td>
            <td><%= caja_registradora.salida %></td>
            <td><%= caja_registradora.descripcion %></td>
            <td><%= caja_registradora.fecha %></td>
            <td><%= link_to 'Ver', caja_registradora, class:"links" %></td>
            <td><%= link_to 'Editar', edit_caja_registradora_path(caja_registradora), class:"links" %></td>
            <td><%= link_to 'Borrar', caja_registradora, method: :delete, data: { confirm: '¿Estas seguro?' }, class:"links" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'Nuevo registro', new_caja_registradora_path, class:"links" %>
</body>
