
<body class="gradiente">
  <div class="container py-2 border-margin-vista">
    <p>
      <strong>Tipo:</strong>
      <%= @caja_registradora.tipo %>
    </p>

    <p>
      <strong>Entrada:</strong>
      <%= @caja_registradora.entrada %>
    </p>

    <p>
      <strong>Salida:</strong>
      <%= @caja_registradora.salida %>
    </p>

    <p>
      <strong>Descripcion:</strong>
      <%= @caja_registradora.descripcion %>
    </p>

    <p>
      <strong>Fecha:</strong>
      <%= @caja_registradora.fecha %>
    </p>
    
    <%= link_to 'Editar', edit_caja_registradora_path(@caja_registradora), class:"links" %> 
    <%= link_to 'Atras', caja_registradoras_path, class:"links" %>
  </div>

<body>
