
    .gradiente{
        background: linear-gradient(100deg, #fff1c8, #ffaf0a);
    }

    .estilo-boton-form{
        background-color:#fff1c8; 
        border-width:1px; 
        border-color:#ffaf0a;
    }

    .color-botones-espacios{
        color:#fff1c8 ;
    }

    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
  
    td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    }
  
    tr:nth-child(even) {
    background-color: white;
    }

    .border-margin-vista{
    border-style: solid;
    border-width: 1px;
    margin-top: 5%;
    margin-bottom: 5%;
    }
 
    .links{
        color: black;
        margin-left: 10px;
    }

    .form{
        border-style: solid;
        border-width: 1px;
        padding-top: 30px;
        padding-bottom: 30px;
    }