<div class="gradiente">
    <h1 class="text-center py-2">Editar Caja General</h1>

    <%= render 'form', caja_general: @caja_general %>

    <%= link_to 'Ver', @caja_general, class:"links" %> 
    <%= link_to 'Atras', caja_generals_path, class:"links" %>
</div>