<!--<p id="notice"><%= notice %></p>-->

<body class="gradiente">
  <div class="container text-center">
    <h1 class="py-2">Caja General</h1>

    <table>
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Entrada</th>
          <th>Salida</th>
          <th>Descripcion</th>
          <th>Fecha</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @caja_generals.each do |caja_general| %>
          <tr>
            <td><%= caja_general.tipo %></td>
            <td><%= caja_general.entrada %></td>
            <td><%= caja_general.salida %></td>
            <td><%= caja_general.descripcion %></td>
            <td><%= caja_general.fecha %></td>
            <td><%= link_to 'Ver', caja_general, class:"links" %></td>
            <td><%= link_to 'Editar', edit_caja_general_path(caja_general), class:"links" %></td>
            <td><%= link_to 'Borrar', caja_general, method: :delete, data: { confirm: '¿Estas seguro?' }, class:"links" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Crear Registro', new_caja_general_path, class:"links" %>
  </div>
</body>
