<body class="gradiente">
  <div class="container py-2 border-margin-vista"> 
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Tipo:</strong>
      <%= @caja_general.tipo %>
    </p>

    <p>
      <strong>Entrada:</strong>
      <%= @caja_general.entrada %>
    </p>

    <p>
      <strong>Salida:</strong>
      <%= @caja_general.salida %>
    </p>

    <p>
      <strong>Descripcion:</strong>
      <%= @caja_general.descripcion %>
    </p>

    <p>
      <strong>Fecha:</strong>
      <%= @caja_general.fecha %>
    </p>


    <%= link_to 'Editar', edit_caja_general_path(@caja_general), class:"links" %> 
    <%= link_to 'Atras',  caja_generals_path, class:"links" %>

  </div>
</body>
