<body class="gradiente">
  <div class="py-2 text-center">
    <%= form_with(model: inventario, local: true) do |form| %>
      <% if inventario.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(inventario.errors.count, "error") %> prohibited this inventario from being saved:</h2>

          <ul>
            <% inventario.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :producto %>
        <%= form.text_field :producto %>
      </div>

      <div class="field">
        <%= form.label :cantidad %>
        <%= form.number_field :cantidad %>
      </div>

      <div class="actions">
        <%= form.submit "Guardar", class:"estilo-boton-form" %>
      </div>
    <% end %>
  </div>
</body>