<h1 class="text-center py3">Editar Inventario</h1>

<%= render 'form', inventario: @inventario %>

<%= link_to 'ver', @inventario, class:"links" %> 
<%= link_to 'Atras', inventarios_path, class:"links" %>
