<body class="gradiente">
  <div class="container text-center">

    <h1 class="py-3">Inventario</h1>

    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @inventarios.each do |inventario| %>
          <tr>
            <td><%= inventario.producto %></td>
            <td><%= inventario.cantidad %></td>
            <td><%= link_to 'Ver', inventario, class:"links" %></td>
            <td><%= link_to 'Editar', edit_inventario_path(inventario), class:"links" %></td>
            <td><%= link_to 'Borrar', inventario, method: :delete, data: { confirm: '¿Estas seguro?' }, class:"links" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo Inventario', new_inventario_path, class:"links" %>
  </div>
</body>
