<body class="gradiente">
  <div class="container py-2 border-margin-vista">

    <p>
      <strong>Producto:</strong>
      <%= @inventario.producto %>
    </p>

    <p>
      <strong>Cantidad:</strong>
      <%= @inventario.cantidad %>
    </p>

    <%= link_to 'Editar', edit_inventario_path(@inventario), class:"links"  %> 
    <%= link_to 'Atras', inventarios_path, class:"links"  %>
  </div>
</body>
