<!DOCTYPE html>
<html>
  <head>
    <title>PosFarma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light gradiente">
      <a class="navbar-brand" href="/">TU FARMA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contabilidad
            </a>
            <div class="dropdown-menu gradiente" aria-labelledby="navbarDropdown">
              <a class="dropdown-item gradiente" href="/caja_generals">Caja general</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item gradiente" href="/caja_registradoras">Caja Registradora</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bodega
            </a>
            <div class="dropdown-menu gradiente" aria-labelledby="navbarDropdown">
              <a class="dropdown-item gradiente" href="/inventarios">Inventario</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item gradiente" href="/categoria">Categoria</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item gradiente" href="/productos">Productos</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Personal
            </a>
            <div class="dropdown-menu gradiente" aria-labelledby="navbarDropdown">
              <a class="dropdown-item gradiente" href="/clientes">Clientes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item gradiente" href="/proveedores">Proveedores</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item gradiente" href="/empleados">Empleados</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
